.showcase {
	padding: .75em 0;
	text-align: center
}

.text {
	position: relative
}

.text i,
.text input {
	font-family: Optima, Arial, sans-serif;
	font-size: .7937rem;
	height: 1rem;
	line-height: 1rem;
	padding: 0 .375rem
}

.text,
.text i {
	display: inline-block
}

.text i {
	font-style: normal;
	min-height: 1em;
	min-width: .5em
}

.text input {
	border: 0;
	box-sizing: border-box;
	color: inherit;
	display: block;
	height: 100%;
	left: 0;
	outline: .0625em solid #666;
	position: absolute;
	resize: none;
	top: 0;
	width: 100%
}

.text input:focus {
	outline: .1875em solid #398ee7
}

.text input.error {
	outline: .0625em solid red;
	color: red
}

.text input.error:focus {
	outline: .1875em solid red
}

.css,
.preview {
	background-color: #fff;
	border: .0625em solid #ddd;
	border-radius: .75em;
	box-shadow: 0 0 .75em #dedede;
	padding: 2.25em;
}

.css {
	white-space: pre
}

.preview li {
	color: #000;
	line-height: 1.375em;
	list-style-type: none;
	white-space: nowrap
}

.css {
	color: #333;
	display: block;
	font-family: monospace;
	line-height: 1.5em
}

.css .value {
	font-weight: 700
}

.css .symbol {
	color: #888
}

.settings {
	border: .0625em solid transparent;
	border-bottom: 0;
	border-top: 0;
	padding: .1875em 0;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	user-select: none;
	white-space: nowrap
}