@charset "UTF-8";

html {
	scroll-behavior: smooth
}

body {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-02.svg);
	background-size: contain;
	color: #212121;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #6e0e50;
	text-decoration: underline;
	/* text-decoration-style: dotted */
}

a>.card-body>.card-title,
a>.card-body>.card-text {
	/* Workaround to set text-decoration=none */
	display: inline-block
}

a:hover>.card-body>.card-title,
a:focus>.card-body>.card-title,
a:hover>.card-body>.card-text,
a:focus>.card-body>.card-text {
	background-color: rgba(255, 248, 235, .5);
	text-decoration: underline;
	/* text-decoration-style: dotted */
}

a:hover {
	background-color: rgba(255, 248, 235, .5);
	color: #940e5c;
	text-decoration: none
}

a:focus {
	outline: 1px solid #6e0e50
}

code {
	color: #940e5c
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #212121;
	font-weight: 700;
	margin-top: 1.25rem
}

.alt-headings h1,
.alt-headings h2,
.alt-headings h3,
.alt-headings h4,
.alt-headings h5,
.alt-headings h6 {
	color: #6e0e50;
}

.h1,
h1 {
	font-size: 2.4rem;
	letter-spacing: -.02em
}

.h2,
h2 {
	font-size: 2rem;
	letter-spacing: -.01em
}

.h3,
h3 {
	font-size: 1.6rem
}

.h4,
h4 {
	font-size: 1.4rem
}

.h5,
h5 {
	font-size: 1.2rem
}

.h6,
h6 {
	font-size: 1.1rem
}

.container-tabs>.nav-tabs {
	box-shadow: 0 2em .5em 0 rgba(255, 255, 255, .5)
}

.tab-pane {
	display: none
}

.container-tabs .tab-content>.active {
	display: block
}

.nav-tabs {
	border-bottom: 1px solid #6e0e50
}

.nav-link,
.nav-link:focus {
	color: #6e0e50;
	outline: none
}

.nav-link:focus {
	background-color: #fff;
	border: 1px solid #940e5c;
	color: #940e5c
}

.nav-tabs .nav-link {
	border-color: #e0e0e0 #e0e0e0 #6e0e50 #eee;
	background-color: #f5f5f5;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem
}

.nav-link:hover {
	background-color: #fff;
	color: #940e5c !important;
	padding: calc(.5rem - 1px) calc(1rem - 1px) calc(.5rem + 1px)
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	border-color: #6e0e50 #6e0e50 #fff !important;
	border-width: 2px 2px 0;
	padding: calc(.5rem - 1px) calc(1rem - 1px) calc(.5rem + 1px)
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	border-color: #6e0e50 #6e0e50 #fff;
	color: #111
}

.navbar-brand {
	border-radius: .3rem
}

a.nav-link:hover,
a.navbar-brand:hover {
	background-color: inherit;
	color: inherit
}

.navbar-light .navbar-nav .nav-link {
	color: #6e0e50
}

.navbar-light .navbar-nav .nav-link:hover {
	background-color: rgba(255, 248, 235, .5);
	color: #940e5c
}

.navbar-brand>img {
	width: calc(100vw - 9rem);
	/* Logo color tweaked with 'filter' to resemble #6e0e50, see https://codepen.io/sosuke/pen/Pjoqqp
	filter: invert(9%) sepia(76%) saturate(200%) hue-rotate(305deg) brightness(89%) contrast(96%) */
}

.navbar-brand:focus {
	padding: .5rem;
	margin: -.2rem .5rem -.2rem -.5rem
}

#nav-link-languages>.bi {
	font-size: 1.5rem;
	line-height: 1;
	float: right;
	padding: 0 .5rem
}

#nav-languages-dropdown {
	box-shadow: 0 0 10rem rgba(33, 33, 33, .2) !important;
	right: inherit
}

#nav-languages-dropdown a {
	border-radius: 0
}

#nav-link-languages:focus {
	background-color: #fff;
	border: 1px solid #940e5c;
	position: unset
}

.breadcrumb {
	padding: .5rem
}

.breadcrumb-item.active {
	color: #6a737b;
	font-weight: 700
}

#menu-aside a {
	font-size: 1.1rem;
	line-height: 1.75
}

#menu-aside li::marker {
	color: rgba(148, 14, 92, .2);
	font-size: 1.5em
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	background-color: #6e0e50
}

.dropdown-menu.show {
	-webkit-animation: fadeIn .3s alternate;
	animation: fadeIn .3s alternate
}

.menu-positioning {
	margin: .5rem 0 -.5rem;
	justify-content: space-evenly !important;
	flex-direction: row
}

.bg-primary {
	background-color: #6e0e50 !important
}

.btn {
	border-radius: .5rem
}

.btn>.bi {
	pointer-events: none
}

.btn-check:focus+.btn,
.btn:focus {
	box-shadow: 0 0 0 .25rem rgba(108, 16, 90, .5)
}

.btn-primary {
	color: #fff;
	background-color: #6e0e50 !important;
	border-color: #940e5c
}

.btn-primary:hover {
	background-color: #940e5c !important;
	border-color: #6e0e50;
	box-shadow: 0 .25rem .5rem rgba(68, 7, 66, .2) !important
}

.btn-close,
.btn-secondary {
	color: #212121;
	background-color: #fff;
	border-color: #6e0e50
}

.alert-dismissible .btn-close,
.alert-dismissible .btn-close:hover,
.alert-dismissible .btn-secondary:hover {
	color: inherit !important;
	background-color: inherit !important
}

.btn-close:hover,
.btn-secondary:hover {
	color: #212121 !important;
	background-color: #fff8eb !important;
	border-color: #6e0e50
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-check:focus+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:focus,
.show>.btn-secondary.dropdown-toggle {
	color: #fff !important;
	background-color: #6e0e50 !important;
	border-color: #940e5c
}

.btn-link {
	color: #6e0e50
}

.btn-link:hover {
	color: #940e5c
}

.border-primary {
	border-color: #940e5c !important
}

.round-button {
	border-radius: 50%;
	height: 2.5rem;
	line-height: 1;
	padding: 0;
	width: 2.5rem
}

.round-button:hover {
	border-radius: 50%
}

.round-button:focus {
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5), 0 0 0 .5rem rgba(149, 14, 93, .5)
}

.round-button>.bi {
	font-size: 2.5rem !important
}

.round-button>.bi.bi-chat-dots-fill {
	font-size: 1rem !important
}

.round-button.btn-secondary {
	border: none
}

.round-button.btn-secondary>.bi {
	color: #6e0e50
}

.round-button.btn-secondary:active>.bi,
.round-button.btn-secondary:focus>.bi {
	border-radius: 50%;
	color: #fff
}

.accordion-header {
	margin-top: 0;
}

.accordion-button {
	background-color: #fafafa !important
}

.accordion-button.collapsed:hover {
	background-color: #fff !important
}

.accordion-button:focus {
	border-color: #6e0e50 !important;
	box-shadow:
		inset 0 11px 0 -9px rgba(108, 16, 90, .5),
		inset 0 -11px 0 -9px rgba(108, 16, 90, .5);
}

.accordion-button:not(.collapsed) {
	color: #940e5c;
	font-weight: 700
}

.accordion-button::after {
	color: #940e5c;
	content: "+";
	background-image: none;
	font-size: 2rem;
	line-height: 1.25rem;
	transform: translate(.1rem, -.1rem) rotate(180deg)
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	content: "-"
}

.dropdown-large {
	padding: 1rem
}

.form-control:focus,
.form-select:focus {
	border-color: #6e0e50 !important;
	box-shadow: inset 0 0 .25rem rgba(108, 16, 90, .25)
}

.form-check-input:checked {
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .25rem rgba(108, 16, 90, .5)
}

.btn-check:focus+.btn-primary,
.btn-close:focus,
.btn-primary:focus {
	color: #fff;
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5),
		0 0 0 .5rem rgba(149, 14, 93, .5);
}

.service-section,
.service-section nav[aria-label=breadcrumb] {
	background-color: rgba(255, 248, 235, .2)
}

#section-main {
	background-color: #fff;
	margin: -1rem 0 0 -1.75rem;
	padding: 1rem 1rem 2rem 1.5rem
}

.section-highlight {
	background-color: #fff8eb;
	margin: -1rem 0 0 -1.75rem;
	padding: .5rem .5rem .5rem .75rem
}

.bg-off-white-fafafa {
	background-color: #fafafa
}

.link-color {
	color: #6e0e50
}

.link-color:hover {
	color: #940e5c
}

.services-row figure,
.target-audience-row figure {
	background-color: #fff
}

.services-row .figure-caption,
.target-audience-row .figure-caption {
	color: #212121;
	font-size: 1em;
	margin: auto;
	min-height: inherit;
}

.services-row .figure-caption>p,
.target-audience-row .figure-caption>p {
	font-size: large;
	margin: auto;
}

.services-row .figure.shadow-sm:hover,
.target-audience-row .figure.shadow-sm:hover {
	background-color: #fff8eb;
	box-shadow: 0 .5rem 1rem rgba(68, 7, 66, .2) !important;
	transform: translateY(-.1rem);
	transition-timing-function: ease
}

.services-row>div>a,
.target-audience-row a {
	border-radius: .3rem;
	text-decoration: none
}

.services-row a:focus,
.target-audience-row a:focus {
	display: block;
	outline: 0
}

.services-row a:focus:hover,
.target-audience-row a:focus:hover {
	background-color: transparent
}

.services-row a:focus .figure.shadow-sm,
.target-audience-row a:focus .figure.shadow-sm {
	box-shadow: none;
	outline: auto
}

a .visible-link {
	text-decoration: underline;
	/* text-decoration-style: dotted */
}

a .visible-link:hover {
	text-decoration: none
}

.social-links>a:hover {
	color: #212121
}

#main-nav-search {
	border-radius: 2rem;
	box-shadow: 0 0 .25rem rgba(108, 16, 90, .25)
}

#main-nav-search .input-wrapper {
	width: calc(100% - 62px)
}

#main-nav-search span.bi-search {
	color: #6e0e50;
	padding: 0 .25rem 0 .5rem;
	opacity: .8;
	width: 1rem
}

#main-nav-search #search-button-addon {
	background-color: transparent !important;
	border: 1px solid #dee2e6 !important;
	border-left: none;
	border-radius: 0 50% 50% 0;
	color: #6e0e50;
	height: inherit;
	padding: 1rem
}

#main-nav-search #search-button-addon:hover {
	background-color: #dee2e6 !important;
	color: #212121
}

#main-nav-search:focus-within #search-button-addon {
	background-color: #6e0e50 !important;
	color: #fff
}

#main-nav-search:focus-within #search-button-addon:focus {
	background-color: #940e5c !important;
	box-shadow: .25rem .25rem .5rem rgba(108, 16, 90, .25)
}

#main-nav-search:focus-within #search-button-addon:hover {
	background-color: #940e5c !important;
	color: #fff
}

#floating-search-input:focus,
#main-nav-search:focus-within #search-button-addon {
	border: 1px solid #940e5c !important;
	box-shadow: inset 0 0 .25rem rgba(108, 16, 90, .25)
}

#main-nav-search .form-floating>label {
	font-size: .95em
}

#floating-search-input:focus {
	z-index: 1
}

#floating-search-input:focus~#full-page-overlay {
	display: block;
	opacity: .2;
	transition: opacity .5s ease-in
}

.form-floating>label {
	transition: opacity .5s ease-in-out, transform .5s ease-in-out
}

.form-floating>.form-control#floating-search-input:focus~label {
	z-index: 2
}

#default-header,
#default-main,
#main-nav {
	z-index: auto
}

#default-main.search-in-focus {
	z-index: -2
}

#default-header.search-in-focus {
	z-index: -1
}

#main-nav.search-in-focus {
	z-index: 0
}

#full-page-overlay {
	background: #212121;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1
}

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

/* No-javascript-support - START */

.no-js #nav-link-languages:focus+.dropdown-menu,
.no-js #nav-link-main-menu:focus+.dropdown-menu {
	display: block
}

.no-js #filter-shortcuts,
.no-js #prototype-summary {
	display: none !important
}

#no-js-alert {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 50vw;
	max-width: 600vw;
	box-shadow: 0 0 50px rgba(0, 0, 0, .5);
	position: absolute;
	left: 25vw;
	top: 15vh;
	visibility: visible
}

#no-js-alert:not(:target) {
	display: none
}

#no-js-alert:target {
	display: block
}

.no-js .tab-pane {
	display: block
}

/* No-javascript-support - STOP */

/* Viewport breakpoints */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Landscape phones and portrait tablets - xs */
@media(max-width:575.98px) {
	/* Redundant. This is the default = no media queries.*/
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {
	body {
		padding-bottom: 3rem
	}

	.navbar-brand>img {
		width: inherit
	}

	#nav-languages-dropdown {
		right: 0
	}

	#main-nav-search .form-floating>label {
		font-size: 1.1em;
		line-height: 1.2em
	}

	.figure-container {
		min-height: 7rem
	}

	.services-row img {
		margin: auto;
		max-height: 8rem;
		max-width: 7rem;
		padding: 1rem 0 0;
		width: auto
	}

	.services-row .figure-caption,
	.target-audience-row .figure-caption {
		margin: -.5em 0 .5em;
		min-height: 2.5rem
	}

	.services-row .figure-caption>p,
	.target-audience-row .figure-caption>p {
		font-size: inherit
	}
}

@media (min-width:768px) {
	#floating-search-input {
		position: relative;
		overflow: hidden;
		outline: 0;
		width: 100%;
		transition: all .5s;
		transition-timing-function: ease
	}

	#floating-search-input:focus,
	#floating-search-input:hover {
		width: 100%
	}
}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {
	#main-nav-search .input-wrapper {
		width: auto
	}

	#floating-search-input {
		width: 16rem
	}

	#floating-search-input:focus,
	#floating-search-input:hover {
		width: 19rem
	}

	.figure-container {
		min-height: 10rem;
	}

	.services-row .figure,
	.target-audience-row .figure {
		transition: all .5s
	}

	.target-audience-row figure {
		min-height: 25rem;
		padding-top: 2rem !important
	}

	.services-row figure {
		min-height: 18rem;
		padding-top: 1rem !important
	}

	.services-row img {
		max-height: 11rem;
		max-width: 10rem;
		width: auto
	}

	.expandable:focus-within,
	.expandable:hover {
		width: calc(992px - 30rem);
		transition: all .3s
	}

	.dropdown-large {
		min-width: 500px
	}

	.foot-links>li {
		margin: auto auto .5em 0
	}

	/* Adaptable font-size, needs more work for larger screens
	.target-audience-row h4,
	.services-row h4 {
		font-size: calc((100vw - 5rem) / 50)
	} */

	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large-bright.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover
	}

	.half-width-page {
		max-width: 40rem
	}
}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {

	.figure-container {
		min-height: 16rem;
	}

	.services-row img {
		max-height: 14rem;
		max-width: 15rem;
		width: auto
	}

	#floating-search-input:focus,
	#floating-search-input:hover {
		width: 22.5rem
	}

	legend {
		font-size: 1rem;
		font-weight: 700
	}
}

/* XX-Large devices (larger desktops, 1400px and up) - xxl */
@media (min-width:1400px) {
	.default-full-width.container {
		max-width: 1180px
			/* Main content width */
	}

	#main-nav-search.form-floating>.form-control:focus~label,
	#main-nav-search.form-floating>.form-control:not(:placeholder-shown)~label {
		transform: scale(.85) translateY(-.5rem) translateX(2rem)
	}
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion:reduce) {
	html {
		scroll-behavior: auto
	}
}

/**
 * IE11 with ie11-custom-properties - START
 */
.iecp-u1 .nav-link {
	display: inline-block
}

/**
 * IE11 with ie11-custom-properties - STOP
 */
