@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-02.svg);
	background-size: contain;
	color: #212121;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #6e0e50;
	text-decoration: underline;
}

a:hover {
	background-color: rgba(148, 14, 92, .1);
	border-radius: .3em;
	color: #940e5c;
	text-decoration: none;
}

a:focus {
	outline: 1px solid #6e0e50;
}

code {
	color: #940e5c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6e0e50;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

.navbar-brand,
.nav-link {
	border-radius: .3rem;
}

a.navbar-brand:hover,
a.nav-link:hover {
	background-color: inherit;
	color: inherit;
}

.navbar-light .navbar-nav .nav-link {
	color: #6e0e50;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #6e0e50;
}

.navbar-brand>img {
	width: calc(100vw - 9rem);
	/* Logo color is defined here by 'filter', see https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(9%) sepia(76%) saturate(200%) hue-rotate(305deg) brightness(89%) contrast(96%);
}

.navbar-brand:focus {
	padding: .5rem;
	margin: -.2rem .5rem -.2rem -.5rem;
}

#nav-link-languages>.bi {
	font-size: 1.5rem;
	line-height: 1;
	float: right;
	padding: 0 .5rem;
}

.breadcrumb {
	padding: .5rem;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	background-color: #6e0e50;
}

a.dropdown-item:hover {
	border-radius: 0;
}

.dropdown-menu.show {
	animation: fadeIn 0.3s alternate;
}

.menu-positioning {
	margin: .5rem 0 -.5rem;
	justify-content: space-evenly !important;
	flex-direction: row;
}

.bg-primary {
	background-color: #6e0e50 !important;
}

.btn {
	border-radius: .5rem;
}

.btn-check:focus+.btn,
.btn:focus {
	box-shadow: 0 0 0 .25rem rgba(108, 16, 90, .5);
}

.btn-primary {
	color: #fff;
	background-color: #6e0e50 !important;
	border-color: #940e5c;
}

.btn-primary:hover {
	background-color: #940e5c !important;
	border-color: #6e0e50;
	box-shadow: 0 .25rem .5rem rgba(68, 7, 66, .2) !important;
}

.btn-secondary,
.btn-close {
	color: #212121;
	background-color: #fff;
	border-color: #6e0e50;
}

.alert-dismissible .btn-close,
.alert-dismissible .btn-secondary:hover,
.alert-dismissible .btn-close:hover {
	color: inherit !important;
	background-color: inherit !important;
}

.btn-secondary:hover,
.btn-close:hover {
	color: #212121 !important;
	background-color: #fff8eb !important;
	border-color: #6e0e50;
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle,
.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
	color: #fff !important;
	background-color: #6e0e50 !important;
	border-color: #940e5c;
}

.btn-link {
	color: #6e0e50;
}

.btn-link:hover {
	color: #940e5c;
}

.border-primary {
	border-color: #940e5c !important;
}

.round-button {
	border-radius: 50%;
	height: 2.5rem;
	line-height: 1;
	padding: 0;
	width: 2.5rem;
}

.round-button:hover {
	border-radius: 50%;
}

.round-button:focus {
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5),
		0 0 0 .5rem rgba(149, 14, 93, .5);
}

.round-button>.bi {
	font-size: 2.5rem !important;
}

.round-button>.bi.bi-chat-dots-fill {
	font-size: 1rem !important;
}

.round-button.btn-secondary {
	border: none;
}

.round-button.btn-secondary>.bi {
	color: #940e5c;
}

.round-button.btn-secondary:focus>.bi,
.round-button.btn-secondary:active>.bi {
	border-radius: 50%;
	color: #fff;
}

.accordion-button {
	background-color: #fafafa !important;
}

.accordion-button.collapsed:hover {
	background-color: #fff !important;
}

.accordion-button:focus {
	border-color: #6e0e50 !important;
	box-shadow:
		inset 0 11px 0 -9px rgba(108, 16, 90, .5),
		inset 0 -11px 0 -9px rgba(108, 16, 90, .5);
}

.accordion-button:not(.collapsed) {
	color: #940e5c;
	font-weight: 700;
}

.accordion-button::after {
	color: #940e5c;
	content: "+";
	background-image: none;
	font-size: 1.25rem;
	height: 1.75rem;
	width: 1.75rem;
	transform: translate(.1rem, -.1rem) rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	content: "-";
}

.dropdown-large {
	padding: 1rem;
}

.form-control:focus,
.form-select:focus {
	border-color: #6e0e50 !important;
	box-shadow: inset 0 0 .25rem rgba(108, 16, 90, .25);
}

.form-check-input:checked {
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .25rem rgba(108, 16, 90, .5);
}

.btn-close:focus,
.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5),
		0 0 0 .5rem rgba(149, 14, 93, .5);
}

#main {
	/* Make page dim nicely when search is in focus */
	position: relative;
}

.target-audience-row figure,
.services-row figure {
	background-color: #fff;
}

.target-audience-row .figure-caption,
.services-row .figure-caption {
	font-size: 1em;
	margin: -.75em 0;
}

.target-audience-row .figure.shadow-sm:hover,
.services-row .figure.shadow-sm:hover {
	box-shadow: 0 .5rem 1rem rgba(68, 7, 66, .2) !important;
	transform: translateY(-.1rem);
	transition-timing-function: ease;
}

.target-audience-row a,
.services-row>div>a {
	border-radius: .3rem;
	text-decoration: none;
}

.target-audience-row a:focus,
.services-row a:focus {
	display: block;
	outline: none;
}

.target-audience-row a:focus .figure.shadow-sm,
.services-row a:focus .figure.shadow-sm {
	box-shadow: none;
	outline: auto;
}

.services-row>div:nth-child(1)>a>figure>img {
	height: 40%;
	width: 15%;
}

.services-row>div:nth-child(8)>a>figure>img {
	height: 40%;
	width: 15%;
}

.social-links>a:hover {
	color: #212121;
}

#main-nav-search {
	border-radius: 2rem;
	box-shadow: 0 0 .25rem rgba(108, 16, 90, .25);
}

#main-nav-search .input-wrapper {
	width: calc(100% - 62px);
}

#main-nav-search span.bi-search {
	color: #6e0e50;
	padding: 0 .25rem 0 .5rem;
	opacity: .8;
	width: 1rem;
}

#main-nav-search #search-button-addon {
	background-color: transparent !important;
	border: 1px solid #dee2e6 !important;
	border-left: none;
	border-radius: 0 50% 50% 0;
	color: #6e0e50;
	height: inherit;
	padding: 1rem;
}

#main-nav-search #search-button-addon:hover {
	background-color: #dee2e6 !important;
	color: #212121;
}

#main-nav-search:focus-within #search-button-addon {
	background-color: #6e0e50 !important;
	color: #fff;
}

#main-nav-search:focus-within #search-button-addon:focus {
	background-color: #940e5c !important;
	box-shadow: .25rem .25rem .5rem rgba(108, 16, 90, .25);
}

#main-nav-search:focus-within #search-button-addon:hover {
	background-color: #940e5c !important;
	color: #fff;
}

#main-nav-search:focus-within #search-button-addon,
#floating-search-input:focus {
	border: 1px solid #940e5c !important;
	box-shadow: inset 0 0 .25rem rgba(108, 16, 90, .25);
}

#floating-search-input:focus {
	z-index: 1;
}

#floating-search-input:focus~#full-page-overlay {
	display: block;
	opacity: .2;
	transition: opacity .5s ease-in;
}

.form-floating>.form-control#floating-search-input:focus~label {
	z-index: 2;
}

#full-page-overlay {
	background: #212121;
	bottom: 0;
	/* display: none; */
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Viewport breakpoints */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Landscape phones and portrait tablets - xs */
@media(max-width:575.98px) {
	/* Redundant. This is the default = no media queries.*/
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {

	.navbar-brand>img {
		width: inherit;
	}

	.services-row>div:nth-child(1)>a>figure>img {
		height: 40%;
		width: 40%;
	}

	.services-row>div:nth-child(8)>a>figure>img {
		height: 40%;
		width: 40%;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {

	#floating-search-input {
		position: relative;
		overflow: hidden;
		outline: none;
		width: 100%;
		transition: all .5s;
		transition-timing-function: ease;
	}

	.target-audience-row .figure.shadow-sm,
	.services-row .figure.shadow-sm {
		min-height: 17rem;
		transition: all .5s;
	}

	.target-audience-row figure {
		min-height: 25rem;
		padding-top: 2rem !important;
	}

	.services-row figure {
		min-height: 18rem;
		padding-top: 1rem !important;
	}

	.services-row img {
		max-height: 12rem;
		max-width: 12rem;
	}

}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {

	#main-nav-search .input-wrapper {
		width: auto;
	}

	#floating-search-input {
		width: 16rem;
	}

	#floating-search-input:hover,
	#floating-search-input:focus {
		width: 23em;
	}

	.expandable:hover,
	.expandable:focus-within {
		width: calc(992px - 30rem);
		transition: all .3s;
	}

	.dropdown-large {
		min-width: 500px;
	}

	.foot-links>li {
		/* line-height: 2; */
		margin: auto auto .5em 0;
	}

	/* Adaptable font-size, needs more work for larger screens
	.target-audience-row h4,
	.services-row h4 {
		font-size: calc((100vw - 5rem) / 50)
	} */

	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large.svg) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.half-width-page {
		max-width: 40rem;
	}

}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {
	legend {
		font-size: 1rem;
		font-weight: 700;
	}
}

/* XX-Large devices (larger desktops, 1400px and up) - xxl */
@media (min-width:1400px) {

	.default-full-width.container {
		max-width: 1180px;
		/* Main content width */
	}

	#main-nav-search.form-floating>.form-control:focus~label,
	#main-nav-search.form-floating>.form-control:not(:placeholder-shown)~label {
		transform: scale(.85) translateY(-.5rem) translateX(2rem);
	}

}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
