/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	transform: translateY(100%);
	transition: all 500ms ease-out;
	color: #212121;
	background-color: #dee2e6;
}

.cookiealert.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 1000ms;
}

.cookiealert a {
	text-decoration: underline
}

.cookiealert .acceptcookies {
	margin-left: 2em;
	vertical-align: baseline;
}

.acceptcookies.close-icon>span {
	color: #6e0e50;
}
