@charset "UTF-8";

html {
	scroll-behavior: smooth
}

body {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-01.png);
	background-position: 1rem -60rem;
	background-size: cover;
	color: #212121;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

body#page-type-yrkesverksam {
	background-image: url(../../images/bg/water-color-bg-03-alt.png);
	background-position: 0 -10rem;
	background-repeat: no-repeat;
	background-size: 100%
}

a {
	color: #6e0e50;
	text-decoration: underline
		/* text-decoration-style: dotted */
}

a:hover {
	background-color: #fff8eb;
	color: #940e5c;
	text-decoration: none
}

/* a:visited {
	color: #616161
} */

a:focus {
	outline: 2px dotted #757575
}

code {
	color: #940e5c
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #212121;
	font-weight: 700;
	margin-top: 1.25rem
}

.alt-heading h1,
.alt-heading h2,
.alt-heading h3,
.alt-heading h4,
.alt-heading h5,
.alt-heading h6 {
	color: #6e0e50
}

.h1,
h1 {
	font-size: 2rem;
	letter-spacing: -.02em
}

.h2,
h2 {
	font-size: 1.74rem;
	letter-spacing: -.01em
}

.h3,
h3 {
	font-size: 1.52rem
}

.h4,
h4 {
	font-size: 1.32rem
}

.h5,
h5 {
	font-size: 1.15rem
}

.h6,
h6 {
	font-size: 1rem
}

#default-nav-tabs .nav-link.active {
	background-color: #ffe098;
	border-radius: .6rem;
	color: #212121
}

#default-nav-tabs .nav-link:active,
#default-nav-tabs .nav-link:focus,
#default-nav-tabs .nav-link:hover,
#default-nav-tabs .nav-item:focus-within {
	border-radius: .6rem
}

.nav-link,
.nav-link:focus {
	color: #6e0e50;
	outline: 0
}

.nav-tabs .nav-item {
	margin-right: .6rem
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #616161;
	background-color: #fff;
	border-color: #757575 #757575 #fff;
	margin: 0 0 -2px
}

li.nav-item:focus-within {
	box-shadow: 0 0 0 1px hsla(0, 0%, 46%, .5);
	border-radius: .3rem;
	color: #940e5c
}

.nav.nav-tabs li.nav-item:focus-within {
	border: none;
	color: #940e5c;
	padding: 0;
	margin: 0 .6rem 0 0
}

.nav-tabs .nav-link {
	border-top-left-radius: .6rem;
	border-top-right-radius: .6rem;
	color: #6e0e50;
	margin-bottom: -1px
}

.nav-tabs .nav-link:focus {
	box-shadow: 0 0 0 1px hsla(0, 0%, 46%, .5);
}

.navbar-brand {
	border-radius: .3rem;
	margin: inherit
}

.navbar-brand:focus {
	border-radius: .3rem;
	margin: 0 .6rem 0 -.5rem;
	padding: .6rem .6rem .75rem
}

a.nav-link:hover,
a.navbar-brand:hover {
	background-color: inherit;
	color: inherit;
	text-decoration: underline
}

.navbar-light .navbar-nav .nav-link {
	color: #6e0e50
}

.navbar-light .navbar-nav .nav-link:hover {
	background-color: #fafafa;
	color: #940e5c;
	text-decoration: none;
	/* max-width: 1.5rem */
}

#default-nav-tabs .nav-item {
	margin-right: .5rem
}

#main-tab .nav-item>.nav-link:hover {
	background-color: #ffecc4;
	color: #940e5c;
}

#top-border-decoration {
	background: 8.5rem #fff8eb;
	display: inline;
	height: 3.5rem;
	position: absolute;
	width: 100vw;
	z-index: -1
}

#nav-link-languages,
#nav-link-main-menu {
	margin: 0 .4rem .2rem .2rem
}

#nav-link-languages>.material-icons,
#nav-link-main-menu>.material-icons {
	font-size: 1.5rem;
	margin: 0 .25rem
}

#nav-link-languages.show>.material-icons,
#nav-link-main-menu.show>.material-icons {
	color: #595959;
}

/* Toggle main menu icon - START */

#nav-link-main-menu>.material-icons.open,
#nav-link-main-menu.show>.material-icons.closed {
	display: none
}

#nav-link-main-menu.show>.material-icons.open {
	display: block;
}

/* Toggle main menu icon - STOP */

#nav-languages-dropdown {
	box-shadow: 3rem 3rem 3rem rgba(33, 33, 33, .1) !important
}

#nav-languages-dropdown a {
	border-radius: 0
}

.breadcrumb {
	padding: .6rem
}

.breadcrumb-item.active {
	color: #6a737b;
	font-weight: 700
}

#menu-aside a {
	font-size: 1.1rem;
	line-height: 1.75
}

#menu-aside li::marker {
	color: rgba(148, 14, 92, .2);
	font-size: 1.5em
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	background-color: #6e0e50
}

.dropdown-menu.show {
	-webkit-animation: fadeIn .3s alternate;
	animation: fadeIn .3s alternate
}

.dropdown-menu {
	color: #212121
}

.bg-primary {
	background-color: #6e0e50 !important
}

.bg-secondary {
	background-color: #fff8eb !important
}

.bg-off-white-fafafa {
	background-color: #fafafa
}

.btn {
	border-radius: .6rem;
	padding: .6rem 1rem
}

.btn>.material-icons {
	pointer-events: none
}

.btn-check:focus+.btn,
.btn:focus {
	box-shadow: 0 0 0 .3rem rgba(108, 16, 90, .5)
}

.btn-primary,
a.btn-primary:visited {
	color: #fff;
	background-color: #6e0e50 !important;
	border-color: #940e5c
}

.btn-primary:hover {
	background-color: #940e5c !important;
	border-color: #6e0e50;
	box-shadow: 0 .3rem .6rem rgba(68, 7, 66, .2) !important
}

.btn-close,
.btn-secondary {
	color: #595959;
	background-color: #fff;
	border-color: #6e0e50
}

.alert-dismissible .btn-close,
.alert-dismissible .btn-close:hover,
.alert-dismissible .btn-secondary:hover {
	color: inherit !important;
	background-color: inherit !important
}

.btn-close:hover,
.btn-secondary:hover {
	color: #212121 !important;
	background-color: #fff8eb !important;
	border-color: #6e0e50
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-check:focus+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.btn-secondary:focus,
.show>.btn-secondary.dropdown-toggle {
	color: #fff !important;
	background-color: #6e0e50 !important;
	border-color: #940e5c
}

.btn-check:active+.btn-secondary.is-checked,
.btn-check:checked+.btn-secondary.is-checked,
.btn-check:focus+.btn-secondary.is-checked,
.btn-secondary.active.is-checked,
.btn-secondary:active.is-checked,
.btn-secondary:focus.is-checked,
.show>.btn-secondary.dropdown-toggle {
	color: #6e0e50 !important;
	background-color: #f7e3ed !important;
	border-color: #940e5c
}

#filter-shortcuts>.btn-secondary.active,
#filter-shortcuts>.btn-secondary:focus {
	color: inherit !important;
	background-color: #fff !important;
	border-color: inherit !important
}

#filter-shortcuts>.btn-secondary.active {
	background-color: #f7e3ed !important;
}

.btn-link {
	color: #6e0e50
}

.btn-link:hover {
	color: #940e5c
}

.arrow-circle-down-btn {
	font-size: 2.5rem !important;
	margin: .1rem
}

a:focus>.arrow-circle-down-btn {
	margin: -.125rem auto auto -.125rem
}

.border-primary {
	border-color: #940e5c !important
}

.round-button {
	border-radius: 50%;
	height: 2.25rem;
	line-height: 1;
	padding: 0;
	width: 2.25rem
}

.round-button:hover {
	border-radius: 50%
}

.round-button:focus {
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5), 0 0 0 .6rem rgba(149, 14, 93, .5)
}

.round-button>.material-icons {
	font-size: 1.5rem
}

.round-button>.material-icons.textsms-icon {
	font-size: 1rem;
	line-height: 1.75
}

.round-button.btn-secondary {
	border: none
}

.round-button.btn-secondary>.material-icons {
	color: #6e0e50
}

.round-button.btn-secondary:active>.material-icons,
.round-button.btn-secondary:focus>.material-icons {
	border-radius: 50%;
	color: #fff
}

.accordion-header {
	margin-top: 0
}

.accordion-button {
	background-color: #fafafa !important
}

.accordion-button.collapsed:hover {
	background-color: #fff !important
}

.accordion-button:focus {
	border-color: #6e0e50 !important;
	box-shadow:
		inset 0 11px 0 -9px rgba(108, 16, 90, .5),
		inset 0 -11px 0 -9px rgba(108, 16, 90, .5);
}

.accordion-button:not(.collapsed) {
	color: #940e5c;
	font-weight: 700
}

.accordion-button::after {
	color: #940e5c;
	content: "+";
	background-image: none;
	font-size: 2rem;
	line-height: 1.25rem;
	transform: translate(.1rem, -.1rem) rotate(180deg)
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	content: "-"
}

a .card-body>.card-text,
a .card-body>.card-title,
a .card-body>.news-date {
	/* Workaround to set text-decoration=none */
	display: inline-block
}

a .card-body>.card-text,
a .card-body>.news-date {
	color: #595959;
}

a:focus .card-body>.card-title,
a:hover .card-body>.card-title {
	background-color: rgba(255, 248, 235, .5);
	text-decoration: underline
		/* text-decoration-style: dotted */
}

.dropdown-large {
	padding: 1rem
}

.btn-check:focus+.btn-primary,
.btn-close:focus,
.btn-primary:focus {
	color: #fff;
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .4rem rgba(240, 226, 235, .5),
		0 0 0 .6rem rgba(149, 14, 93, .5);
}

.form-control:focus,
.form-select:focus {
	border-color: #940e5c !important;
	box-shadow: 0 0 0 .3rem rgba(240, 226, 235, .5)
}

.form-check-input:checked {
	background-color: #6e0e50;
	border-color: #940e5c;
	box-shadow: 0 0 0 .3rem rgba(108, 16, 90, .5)
}

.form-check-input,
.form-control,
.form-select {
	border: 1px solid #757575;
	padding: .6rem
}

.form-control,
.form-select {
	padding: .6rem .75rem
}

.form-floating>.form-control,
.form-floating>.form-select {
	height: calc(3rem + 2px)
}

.card {
	border: 1px solid #fff8eb
}

.shadow-sm-heavy {
	box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .5)
}

.service-section,
.service-section nav[aria-label=breadcrumb] {
	background-color: rgba(255, 248, 235, .2)
}

#section-main {
	background-color: #fff;
	margin: -1rem 0 0 -1.75rem;
	padding: 1rem 1rem 2rem 1.5rem
}

.section-highlight {
	background-color: #fff8eb;
	margin: -1rem 0 0 -1.75rem;
	padding: .6rem .6rem .6rem .75rem
}

.link-color {
	color: #6e0e50
}

.link-color:hover {
	color: #940e5c
}

.link-symbol::after {
	content: '\25BA';
	padding: 0 0 0 .4rem;
	float: left
}

.news-section p>a>.material-icons {
	font-size: 1.6rem;
	vertical-align: -.5rem
}

.services-row {
	margin: 0 -.75rem
}

.services-row img {
	margin: auto;
	max-height: 5rem;
	max-width: 7rem;
	width: auto
}

.news-section .card,
.services-row .card,
.target-audience-row .card {
	background-color: #fff;
	flex-direction: inherit
}

.services-row .card-text small,
.target-audience-row .card-text small {
	color: #595959;
	font-size: 1em;
	margin: auto;
	min-height: inherit
}

.services-row .card-text small>p,
.target-audience-row .card-text small>p {
	font-size: large;
	margin: auto
}

.news-section .card:hover,
.services-row .card:hover,
.target-audience-row .card:hover {
	background-color: rgba(255, 248, 235, .5);
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .25) !important;
	transform: translateY(-.1rem);
	transition-timing-function: ease
}

.services-row a,
.target-audience-row a {
	border-radius: .6rem;
	text-decoration: none
}

.services-row a:focus,
.target-audience-row a:focus {
	border-radius: .3rem;
	display: block;
	height: 100% !important;
	padding: 0 .75rem;
	margin: 0 -.75rem
}

.services-row a:focus:hover,
.target-audience-row a:focus:hover {
	background-color: transparent
}

.services-row a:focus .card.shadow-sm,
.target-audience-row a:focus .card.shadow-sm {
	box-shadow: none;
	outline: auto
}

a .visible-link {
	text-decoration: underline
		/* text-decoration-style: dotted */
}

a .visible-link:hover {
	text-decoration: none
}

.social-links>a:hover {
	color: #212121
}

#main-nav-search {
	border: 1px solid #757575;
	border-radius: .3rem
		/* box-shadow: 0 0 .3rem rgba(108, 16, 90, .25) */
}

#main-nav-search #search-button-addon {
	background-color: #fff;
	border: none;
	border-radius: 0 .3rem .3rem 0;
	color: #6e0e50;
	height: inherit;
	padding: .75rem .5rem
}

#main-nav-search #search-button-addon:hover {
	background-color: #f5f5f5 !important;
	color: #595959
}

#main-nav-search:focus-within #search-button-addon {
	background-color: #6e0e50 !important;
	color: #fff
}

#main-nav-search:focus-within #search-button-addon:focus {
	background-color: #940e5c !important;
	box-shadow: .3rem .3rem .6rem rgba(108, 16, 90, .25)
}

#main-nav-search:focus-within #search-button-addon:hover {
	background-color: #940e5c !important;
	color: #fff
}

#main-nav-search .form-floating>label {
	color: #595959;
	font-size: 1.1em;
	line-height: 1.6em;
	top: .1rem;
	left: -.5rem
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
	padding: 0
}

#main-nav-search .form-floating>.form-control:focus~label,
#main-nav-search .form-floating>.form-control:not(:placeholder-shown)~label,
#main-nav-search .form-floating>.form-select~label {
	opacity: 0
}

#floating-search-input {
	background-color: #fff;
	padding: .625rem .625rem .625rem 1.25rem !important
}

#floating-search-input:hover {
	background-color: #f5f5f5
}

#floating-search-input:focus {
	padding: .625rem;
	z-index: 1
}

#floating-search-input:focus,
#main-nav-search:focus-within #search-button-addon {
	border: 1px solid #940e5c !important;
	border-top-right-radius: inherit !important;
	border-bottom-right-radius: inherit !important;
	box-shadow: inset 0 0 .3rem rgba(108, 16, 90, .25);
	position: relative
}

#floating-search-input:focus~#full-page-overlay {
	display: block;
	height: 100vh;
	opacity: .2;
	transition: opacity .5s ease-in;
	z-index: 0
}

#main-nav-search label>.material-icons {
	color: #940e5c;
	position: absolute
}

.form-floating>label {
	padding: .5rem;
	/* transition: opacity .5s ease-in-out, transform .5s ease-in-out */
}

.form-floating>.form-control#floating-search-input:focus~label {
	z-index: 2
}

#default-header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	transition: transform 0.25s ease-in-out
}

#default-footer {
	background-color: #fff;
	background-image: url(../../images/bg/water-color-bg-01.png);
	background-size: cover;
	margin: 2rem 0 0
}

#default-header,
#default-main,
#main-nav {
	z-index: 1
}

#default-main.search-in-focus {
	z-index: -2
}

#default-header.search-in-focus {
	z-index: -1
}

#main-nav.search-in-focus {
	z-index: 0
}

#full-page-overlay {
	background: #595959;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1
}

#header-spacing {
	padding: 13.5rem 0 0
}

.header-unpin {
	transform: translateY(-12rem)
}

.header-pin>#top-border-decoration,
.header-pin>#default-nav-tabs,
.header-unpin>#top-border-decoration,
.header-unpin>#default-nav-tabs {
	display: none
}

.header-pin {
	transform: translateY(0);
	box-shadow: 0 0 1rem #f5f5f5
}

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

/* remove “X” from search input field on Chrome - START */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/* remove “X” from search input field on Chrome - STOP */


/* No-javascript-support - START */

.no-js #nav-link-languages:focus+.dropdown-menu,
.no-js #nav-link-main-menu:focus+.dropdown-menu {
	display: block
}

.no-js #filter-shortcuts,
.no-js #prototype-summary {
	display: none !important
}

.no-js #default-header {
	position: relative
}

#no-js-alert {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 50vw;
	max-width: 600vw;
	box-shadow: 0 0 50px rgba(0, 0, 0, .5);
	position: absolute;
	left: 25vw;
	top: 15vh;
	visibility: visible
}

#no-js-alert:not(:target) {
	display: none
}

#no-js-alert:target {
	display: block
}


/* No-javascript-support - STOP */

/* Viewport breakpoints */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Landscape phones and portrait tablets - xs */
@media(max-width:575.98px) {
	/* Redundant. This is the default = no media queries.*/
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {

	#header-spacing {
		padding: 14rem 0 0
	}

	.navbar-brand>img {
		width: 90%
			/* Logo color tweaked with 'filter' to resemble #6e0e50, see https://codepen.io/sosuke/pen/Pjoqqp
	filter: invert(9%) sepia(76%) saturate(200%) hue-rotate(305deg) brightness(89%) contrast(96%) */
	}

	.header-unpin {
		transform: translateY(-6rem)
	}

	.shortcut-container {
		min-height: 4rem
	}

	/* .services-row img {
		max-height: 8rem;
		padding: 1rem 0 0
	} */

	.services-row .card-text small,
	.target-audience-row .card-text small {
		min-height: 2.5rem
	}

	.services-row .card-text small>p,
	.target-audience-row .card-text small>p {
		font-size: inherit
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {

	.navbar-brand {
		margin: auto 1rem auto 0
	}

	#header-spacing {
		padding: 9rem 0 0
	}

	#custom-jumbotron {
		min-height: 25vh
	}

	#main-nav-search #search-button-addon {
		padding: .75rem 1rem
	}
}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {

	#main-nav-search .input-wrapper {
		width: auto
	}

	/* #custom-jumbotron {
		min-height: 30vh
	} */

	.shortcut-container {
		min-height: 5rem
	}

	.news-section .card,
	.services-row .card,
	.target-audience-row .card {
		transition: all .5s
	}

	.target-audience-row .card {
		min-height: 12rem;
		padding-top: 1rem !important
	}

	.services-row .card {
		/* min-height: 18rem; */
		padding-top: 1rem !important
	}

	/* .services-row img {
		max-height: 11rem;
		max-width: 10rem
	} */

	.expandable:focus-within,
	.expandable:hover {
		width: calc(992px - 30rem);
		transition: all .3s
	}

	.dropdown-large {
		min-width: 500px
	}

	.foot-links>li {
		margin: auto auto .5em 0
	}

	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large-bright.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover
	}

	.half-width-page {
		max-width: 40rem
	}
}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {

	/* #custom-jumbotron {
		min-height: 35vh
	} */

	.shortcut-container {
		min-height: 6rem
	}

	/* .services-row img {
		max-height: 14rem;
		max-width: 15rem
	} */

	legend {
		font-size: 1rem;
		font-weight: 700
	}
}

/* XX-Large devices (larger desktops, 1400px and up) - xxl */
@media (min-width:1400px) {
	/* #custom-jumbotron {
		min-height: 45vh
	} */

	.default-full-width.container {
		max-width: 1040px;
		/* Main content width */
		padding: 0
	}
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion:reduce) {
	html {
		scroll-behavior: auto
	}
}

/**
 * IE11 with ie11-custom-properties - START
 */
.iecp-u1 .nav-link {
	display: inline-block
}

/**
 * IE11 with ie11-custom-properties - STOP
 */
