input[type=range] {
	height: 32px;
	-webkit-appearance: none;
	margin: .75rem 0;
	width: 100%;

	&:focus {
		border-radius: 2rem;
		outline: .25rem solid #940e5c;
		padding: .4rem .2rem;

		&::-webkit-slider-runnable-track {
			background: #ddeefb;
		}

		&::-ms-fill-lower {
			background: #ddeefb;
		}

		&::-ms-fill-upper {
			background: #ddeefb;
		}
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 1.5rem;
		cursor: pointer;
		animate: .2s;
		box-shadow: 0 0 0 #000;
		background: #ddeefb;
		border-radius: 3rem;
		border: 1px solid #940e5c;
	}

	&::-webkit-slider-thumb {
		box-shadow: 1px 1px 1px #6e0e50;
		border: 1px solid #940e5c;
		height: 2rem;
		width: 3rem;
		border-radius: .5rem;
		background: #f7e3ed center url(../../images/icons/ant-design-arrow-right-outlined.svg) no-repeat;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -.3rem;
	}

	&::-moz-range-track {
		width: 100%;
		height: 1.5rem;
		cursor: pointer;
		animate: .2s;
		box-shadow: 0 0 0 #000;
		background: #ddeefb;
		border-radius: 3rem;
		border: 1px solid #940e5c;
	}

	&::-moz-range-thumb {
		box-shadow: 1px 1px 1px #6e0e50;
		border: 1px solid #940e5c;
		height: 2rem;
		width: 3rem;
		border-radius: .5rem;
		background: #f7e3ed center url(../../images/icons/ant-design-arrow-right-outlined.svg) no-repeat;
		cursor: pointer;
	}

	&::-ms-track {
		width: 100%;
		height: 1.5rem;
		cursor: pointer;
		animate: .2s;
		background: 0 0;
		border-color: transparent;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: #ddeefb;
		border: 1px solid #940e5c;
		border-radius: 4rem;
		box-shadow: 0 0 0 #000;
	}

	&::-ms-fill-upper {
		background: #ddeefb;
		border: 1px solid #940e5c;
		border-radius: 4rem;
		box-shadow: 0 0 0 #000;
	}

	&::-ms-thumb {
		margin-top: 1px;
		box-shadow: 1px 1px 1px #6e0e50;
		border: 1px solid #940e5c;
		height: 2rem;
		width: 3rem;
		border-radius: .5rem;
		background: #f7e3ed;
		cursor: pointer;
	}
}
