/* type=range START */

input[type=range] {
	height: 32px;
	-webkit-appearance: none;
	margin: .75rem 0;
	width: 100%
}

input[type=range]:focus {
	border-radius: 2rem;
	outline: .25rem solid #940e5c;
	padding: .4rem .2rem
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1.5rem;
	cursor: pointer;
	animate: .2s;
	box-shadow: 0 0 0 #000;
	background: #ddeefb;
	border-radius: 3rem;
	border: 1px solid #940e5c
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #6e0e50;
	border: 1px solid #940e5c;
	height: 2rem;
	width: 3rem;
	border-radius: .5rem;
	background: #f7e3ed center url(../../images/icons/ant-design-arrow-right-outlined.svg) no-repeat;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -.3rem
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ddeefb
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 1.5rem;
	cursor: pointer;
	animate: .2s;
	box-shadow: 0 0 0 #000;
	background: #ddeefb;
	border-radius: 3rem;
	border: 1px solid #940e5c
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #6e0e50;
	border: 1px solid #940e5c;
	height: 2rem;
	width: 3rem;
	border-radius: .5rem;
	background: #f7e3ed center url(../../images/icons/ant-design-arrow-right-outlined.svg) no-repeat;
	cursor: pointer
}

input[type=range]::-ms-track {
	width: 100%;
	height: 1.5rem;
	cursor: pointer;
	animate: .2s;
	background: 0 0;
	border-color: transparent;
	color: transparent
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: #ddeefb;
	border: 1px solid #940e5c;
	border-radius: 4rem;
	box-shadow: 0 0 0 #000
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #6e0e50;
	border: 1px solid #940e5c;
	height: 2rem;
	width: 3rem;
	border-radius: .5rem;
	background: #f7e3ed;
	cursor: pointer
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: #ddeefb
}

/* type=range STOP */
