@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-02.svg);
	background-size: contain;
	color: #212121;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #6c105a;
	text-decoration: underline;
}

a:hover {
	background-color: #44074215;
	border-radius: .3em;
	color: #440742;
	text-decoration: none;
}

a:focus {
	outline: 1px solid #6c105a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #440742;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

.navbar-brand,
.nav-link {
	border-radius: .3rem;
}

a.navbar-brand:hover,
a.nav-link:hover {
	background-color: inherit;
	color: inherit;
}

.navbar-brand>img {
	width: calc(100vw - 9rem);
	/* Logo color is defined here by 'filter', see https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(9%) sepia(65%) saturate(100%) hue-rotate(280deg) brightness(107%) contrast(109%);
}

.navbar-brand:focus {
	padding: .5rem;
	margin: -.2rem .5rem -.2rem -.5rem;
}

.bg-primary {
	background-color: #6c105a !important;
}

.btn-primary {
	color: #fff;
	background-color: #6c105a !important;
	border-color: #440742;
}

.btn-primary:hover {
	background-color: #440742 !important;
}

.btn-secondary {
	color: #212121;
	background-color: #fff !important;
	border-color: #6c105a;
}

.btn-secondary:hover,
.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle,
.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
	color: #212121 !important;
	background-color: #fff8eb !important;
	border-color: #6c105a;
}

.btn-link {
	color: #6c105a;
}

.btn-link:hover {
	color: #440742;
}

.border-primary {
	border-color: #440742 !important;
}

.accordion-button.collapsed:hover {
	background-color: #fafafa !important;
}

.accordion-button:focus {
	border-color: #6c105a !important;
	box-shadow: 0 0 0 .25rem rgb(108 16 90 / 25%);
}

.accordion-button:not(.collapsed) {
	background-color: #fff8eb;
	color: #440742;
	font-weight: 700;
}

.dropdown-large {
	padding: 1rem;
}

.btn-close:focus,
.btn-check:focus+.btn-primary,
.btn-primary:focus,
.form-control:focus,
.form-select:focus {
	border-color: #6c105a !important;
	box-shadow: inset 0 0 .25rem rgb(108 16 90 / 25%);
}

.form-check-input:checked {
	background-color: #6c105a;
	border-color: #440742;
	box-shadow: 0 0 0 .25rem rgb(108 16 90 / 50%);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #6c105a;
	border-color: #440742;
	box-shadow: 0 0 0 .25rem rgb(108 16 90 / 50%);
}

.target-audience-row .figure-caption,
.services-row .figure-caption {
	margin: -.75em 0;
}

.target-audience-row .figure.shadow-sm,
.services-row .figure.shadow-sm {
	transition: all .5s;
}

.target-audience-row .figure.shadow-sm:hover,
.services-row .figure.shadow-sm:hover {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
	transform: scale(1.01);
	transition-timing-function: ease;
}

/*
https: //codepen.io/sosuke/pen/Pjoqqp
.social-links svg {
	fill: #440742;
}
*/

/* .social-links {
	filter: invert(6%) sepia(82%) saturate(6489%) hue-rotate(312deg) brightness(83%) contrast(90%);
} */

#main-container {
	background-color: transparent;
}

.target-audience-row figure {
	min-height: 14rem;
	padding-top: 2rem !important;
}

.services-row figure {
	min-height: 7rem;
	padding-top: 1rem !important;
}

.target-audience-row>div>a,
.services-row>div>a {
	border-radius: .3rem;
}

.social-links>a:hover {
	color: #212121;
}

.foot-links>li::before {
	content: '»';
	padding-right: .5rem;
	color: #6c105a;
}

#main-nav-search span.bi-search {
	color: #6c105a;
	padding: 0 .25rem 0 .5rem;
	opacity: .8;
	width: 1rem;
}

#main-nav-search #search-button-addon {
	background-color: transparent !important;
	border: 1px solid #dee2e6 !important;
	border-left: none;
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
	color: #6c105a;
	height: inherit;
	padding: 1rem;
}

#main-nav-search #search-button-addon:hover {
	background-color: #dee2e6 !important;
	color: #212121;
}

#main-nav-search:focus-within #search-button-addon {
	background-color: #6c105a !important;
	color: #fff;
}

#main-nav-search:focus-within #search-button-addon:hover {
	background-color: #440742 !important;
	color: #fff;
}

#floating-search-input {
	position: relative;
	overflow: hidden;
	outline: none;
	width: 15em;
	transition: all .5s;
	transition-timing-function: ease;
}

#main-nav-search:focus-within #search-button-addon,
#floating-search-input:focus {
	border: 1px solid #440742 !important;
	box-shadow: inset 0 0 .25rem rgb(108 16 90 / 25%);
}

#floating-search-input:hover,
#floating-search-input:focus {
	width: 25em;
}

/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	transform: translateY(100%);
	transition: all 500ms ease-out;
	color: #212121;
	background: linear-gradient(#ffecc4, #fff8eb);
}

.cookiealert.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 1000ms;
}

.cookiealert a {
	text-decoration: underline
}

.cookiealert .acceptcookies {
	margin-left: 2em;
	vertical-align: baseline;
}

.acceptcookies.close-icon>span {
	color: #6c105a;
}

/* Viewport breakpoints */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {
	.navbar-brand>img {
		width: inherit;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {

	.expandable:hover,
	.expandable:focus-within {
		width: calc(992px - 30rem);
		transition: all .3s;
	}

	.dropdown-large {
		min-width: 500px;
	}

	.foot-links>li {
		/* line-height: 2; */
		margin: auto auto .5em -1em;
	}

	/* Adaptable font-size, needs more work for larger screens
	.target-audience-row h4,
	.services-row h4 {
		font-size: calc((100vw - 5rem) / 50)
	} */

	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large.svg) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.half-width-page {
		max-width: 40rem;
	}

}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) - xxl */
@media (min-width:1400px) {

	.default-full-width.container {
		max-width: 1180px;
		/* Main content width */
	}

	#main-nav-search.form-floating>.form-control:focus~label,
	#main-nav-search.form-floating>.form-control:not(:placeholder-shown)~label {
		transform: scale(.85) translateY(-.5rem) translateX(2rem);
	}

}

/* Landscape phones and portrait tablets - xs */
@media(max-width:575.98px) {
	/* Redundant. This is the default = no media queries.*/
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/**************************/

/* Only prototype - START */

/* Fade-In Effect */

.fade-2-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

/* Fade-Out Effect */

.fade-2-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.post-it {
	font-size: 1.25em;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	z-index: 1000;
}

.post-it .inner {
	border: 1px solid #6c105a;
	padding: 2em;
	/* min-height: 100px; */
	background: #ffe3ff;
	transform: perspective(75em) rotateX(18deg);
	box-shadow: rgba(22, 31, 39, .42) 0px 60px 123px -25px,
		rgba(19, 26, 32, .08) 0px 35px 75px -35px;
	border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
	position: relative;
	z-index: 1000;
}

.post-it .inner>a {
	color: #440742;
}

#prototype-message-placeholder {
	/*dim the background*/
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	overflow: hidden;
	position: fixed;
	/* pointer-events: none; */
	left: 0;
	line-height: 1.25;
	top: 0;
	width: 100%;
	z-index: 1025;
}

.pushpin {
	background: url(../../images/prototyping/pin-2033400.png) no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	width: 3em;
	height: 3em;
	margin: -1em auto;
}

/* Only prototype - STOP */
