select[data-multi-select-plugin] {
	display: none !important
}

.multi-select-component {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	padding: .4rem .75rem;
	font-size: .8rem;
	line-height: 2;
	padding-bottom: 0;
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: .3rem;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.autocomplete-list {
	border-radius: .3rem 0 0 .3rem
}

.multi-select-component:focus-within {
	box-shadow: inset 0 0 0 2px #940e5c
}

.multi-select-component .btn-group {
	display: none !important
}

.multiselect-native-select .multiselect-container {
	width: 100%
}

.selected-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	display: inline-block;
	border: 1px solid #ffe098;
	background-color: rgba(255, 224, 152, .5);
	white-space: nowrap;
	margin: .1rem .3rem .3rem 0;
	height: 1.6rem;
	vertical-align: top;
	cursor: default
}

.selected-wrapper .selected-label {
	display: inline-block;
	font-weight: 700;
	max-width: 50vw;
	padding-left: .5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top
}

.selected-wrapper .selected-close {
	display: inline-block;
	text-decoration: none;
	font-size: .8rem;
	line-height: 1.5;
	margin-left: .3rem;
	padding-bottom: .8rem;
	height: 100%;
	vertical-align: top;
	padding-right: .3rem;
	opacity: .5;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	font-weight: 700
}

.search-container {
	display: flex;
	flex-direction: row
}

.search-container .selected-input {
	background: 0 0;
	border: 0;
	height: 1.75rem;
	width: 10rem;
	padding: 0;
	margin-bottom: .5rem;
	-webkit-box-shadow: none;
	box-shadow: none
}

.search-container .selected-input:focus {
	outline: 0
}

.dropdown-icon.active {
	transform: rotateX(180deg)
}

.search-container .dropdown-icon {
	display: inline-block;
	padding: .8rem .3rem;
	position: absolute;
	top: .5rem;
	right: .6rem;
	width: .8rem;
	height: .8rem;
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: center;
	background-size: .8rem;
	background-repeat: no-repeat
}

.search-container ul {
	position: absolute;
	list-style: none;
	padding: 0;
	z-index: 3;
	margin-top: 3rem;
	width: 100%;
	right: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175)
}

.search-container ul :focus {
	outline: 0
}

.search-container ul li {
	display: block;
	text-align: left;
	padding: .75rem 3rem .75rem 1rem;
	border-bottom: 1px solid #ccc;
	font-size: .8rem;
	min-height: 2.5rem
}

.search-container ul li:first-child {
	border-top: 1px solid #ccc;
	border-radius: .3rem 0 0 0
}

.search-container ul li:last-child {
	border-radius: .3rem 0 0 0
}

.search-container ul li:hover.not-cursor {
	cursor: default
}

.search-container ul li:hover {
	color: #333;
	background-color: #fff8eb;
	border-color: #adadad;
	cursor: pointer
}

.autocomplete-list {
	max-height: 20rem;
	overflow-y: auto
}
