body {
	margin: 0
}

nav {
	background-color: red;
	margin: 0 auto;
	padding: 1rem 0;
	text-align: center;
}

/* applied after scroll height reached */
.fixed-nav nav {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100vw;
}
