body {
	background: #f8f9fa;
	color: #333;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #983579;
	text-decoration: underline;
}

a:hover {
	color: #6E0E4F;
	text-decoration: none;
}

a:focus {
	outline: 1px solid #983579;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6e0e4f;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

.bg-primary {
	background-color: #983579 !important;
}

.dropdown-large {
	padding: 1rem;
}

/*
https: //codepen.io/sosuke/pen/Pjoqqp
.social-links svg {
	fill: #6e0e4f;
}
*/

/* .social-links {
	filter: invert(6%) sepia(82%) saturate(6489%) hue-rotate(312deg) brightness(83%) contrast(90%);
} */


.social-links>a:hover {
	color: #333;
}

#search-button-addon>span:nth-child(2) {
	display: none;
}

#main-nav-search>.input-group>.input-group-prepend {
	position: absolute;
	z-index: 4;
}

#main-nav-search>.input-group>.form-control:focus {
	opacity: 1;
}

#main-nav-search>.input-group>.form-control {
	padding-left: 2.25em;
	opacity: .5;
}

.bi-search {
	color: #983579;
	padding: 0 0 .25em;
	opacity: .8;
	width: 1em;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-large {
		min-width: 500px;
	}
}
