.acc-header {
	align-items: center;
	background: 0 0;
	border: none;
	display: flex;
	cursor: pointer;
	font-weight: 700;
	justify-content: space-between;
	padding: .5rem 1rem;
	width: 100%;
	transition: background-color .2s ease-out
}

.material-icons.acc-header-icon:hover {
	color: #595959;
	background: rgb(255, 248, 235, .75);
	border-radius: 0;
	outline: 0
}

.material-icons.acc-header-icon {
	font-size: 1.75rem;
	height: 1.5rem;
	position: relative;
	top: 0;
	width: 2rem;
	text-align: center;
	transition: .2s all
}

.panel>button {
	color: #940e5c;
	text-align: left
}

.panel.active .material-icons.acc-header-icon {
	height: 1.5rem;
	top: .75rem;
	transform: translateY(-50%) rotate(-180deg)
}

.accordion-menu-wrapper {
	background-color: #fff;
	/* background-image: url(../../images/bg/water-color-bg-04-large-bright.png);
	background-position: 2rem 2rem;
	background-size: auto; */
	box-shadow: 0 10rem 10rem rgb(33, 33, 33, .1) !important;
	left: 0;
	width: 100%
}

.accordion-menu-wrapper.page-width {
	left: 0 !important
}

.acc-body {
	box-sizing: content-box;
	height: 0;
	opacity: 0;
	padding: 0;
	visibility: hidden;
	-webkit-transition: height .2s ease-out, opacity .2s ease-out;
	-o-transition: height .2s ease-out, opacity .2s ease-out;
	transition: height .2s ease-out, opacity .2s ease-out
}

.no-js .acc-body,
.panel.active .acc-body {
	opacity: 1;
	height: auto;
	visibility: visible
}

.acc-body li,
.acc-body ul,
li.panel {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.acc-body a {
	display: block;
	font-weight: 400;
	padding: .5rem 0 .5rem 1rem;
	text-decoration: none
}

.acc-body a:focus,
.acc-header:focus {
	outline: 2px solid #940e5c;
	box-shadow: none !important;
	margin: inherit
}

.nav-item.dropdown.dropdown-mega {
	position: static
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {

	.nav-item.dropdown.dropdown-mega .dropdown-menu.show {
		margin: 0 -2rem;
		padding: 2rem 0;
		width: calc(100% + 4rem)
	}

	.panel.page-width {
		left: calc(50vw - (100vw - 590px)) !important;
		width: calc(100vw - 8px)
	}
}