body {
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

.navbar {
	position: relative;
	background-color: #333;
	height: 4rem;
}

#menu-toggle {
	display: none;
}

#mega-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #333;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s;
	overflow-y: auto;
}

#menu-toggle:checked~#mega-menu,
#mega-menu.open {
	opacity: 1;
	background-color: rgba(51, 51, 51, .9);
	/* The color #333 with opacity .9 */
	visibility: visible;
	transition-delay: 0s;
}

.menu-icon {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	width: 2rem;
	height: 1.125rem;
	cursor: pointer;
	z-index: 2;
}

.menu-icon span {
	border-radius: 1rem;
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: transform 0.3s ease;
}

.menu-icon span:nth-child(1) {
	top: 0;
}

.menu-icon span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
	bottom: 0;
}

#menu-toggle:checked~.menu-icon span:nth-child(1) {
	transform: translateY(0.5em) rotate(45deg);
}

#menu-toggle:checked~.menu-icon span:nth-child(2) {
	opacity: 0;
}

#menu-toggle:checked~.menu-icon span:nth-child(3) {
	transform: translateY(-0.5em) rotate(-45deg);
}

#mega-menu-accordion {
	padding: 0;
	position: relative;
	top: 4rem;
}

#mega-menu-accordion .accordion-button {
	color: #666;
	padding: 1rem;
}

#mega-menu-accordion .accordion-button:not(.collapsed) {
	color: #000;
}

#mega-menu-accordion .accordion-item {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
}

ul.accordion-body {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mega-menu-accordion .accordion-body>li>a {
	display: block;
	font-weight: 400;
	padding: 0.5rem 0 0.5rem 1rem;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

#mega-menu-accordion .accordion-body>li>a:hover {
	background-color: rgba(231, 241, 255, .25);
}

.accordion-button:not(.collapsed) {
	background-color: #f1f7ff;
}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {
	#mega-menu-accordion,
	.toast {
		margin: auto;
		max-width: 70rem
		/* Menu content width */
	}
}