.menu-button {
	height: 1.5rem;
	padding: 0 !important;
	position: absolute;
	text-decoration: none;
	width: 1.5rem;
	z-index: 1001;
}

a.menu-button:focus {
	border-radius: .25rem;
	box-shadow: 0 0 0 4px #6e0e50 !important;
}

.menu-button span {
	background-color: #6e0e50;
	border-radius: 1px;
	display: block;
	left: .25rem;
	height: 2px;
	position: absolute;
	transition: transform .6s ease;
	width: 1rem;
}

.menu-button.active span {
	left: .25rem;
}

.menu-button span:nth-of-type(1) {
	top: .2rem;
}

.menu-button span:nth-of-type(2) {
	top: .6rem;
}

.menu-button span:nth-of-type(3) {
	top: 1rem;
}

.menu-button:hover {
	border-radius: 0;
}

.menu-button.active span:nth-of-type(1) {
	top: 0;
	transform: translateY(0.5rem) rotate(-45deg);
}

.menu-button.active span:nth-of-type(2) {
	opacity: 0;
}

.menu-button.active span:nth-of-type(3) {
	transform: translateY(-0.5rem) rotate(45deg);
}

.menu-link {
	display: flex;
	align-items: center;
	margin-left: 1.5rem;
}

.menu-overlay {
	background-color: #fafafa;
	background-position: 2rem 2rem;
	background-size: contain;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	text-align: left;
	transform: translateX(100%);
	transition: all .6s ease-in-out;
	width: 100%;
}

.menu-overlay.open {
	transform: translateX(0);
	z-index: 1000;
}

.menu-overlay.open .nav {
	animation: fadeIn .8s ease-in-out .2s forwards;
}

.menu-link {
	bottom: 1rem;
	color: #6e0e50;
	font-size: .825rem;
	left: -3rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {
	a.menu-button:focus {
		width: 5rem;
	}
}