.navbar {
	position: relative;
	background-color: #333;
	height: 60px;
}

.menu-toggle {
	display: none;
}

.menu-icon {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 2;
}

.menu-icon span {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: transform 0.3s ease;
}

.menu-icon span:nth-child(1) {
	top: 0;
}

.menu-icon span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
	bottom: 0;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #333;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu-item {
	margin-bottom: 20px;
}

.menu-toggle:checked~.menu {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}
