.menu-button {
	width: 1.5rem;
	position: absolute;
	height: calc(.25rem * 5);
	z-index: 1001;
}

.menu-button span {
	width: 1.5rem;
	height: .25rem;
	display: block;
	position: absolute;
	transition: all .6s ease;
}

.menu-button span:nth-of-type(2) {
	top: calc(.25rem * 2);
}

.menu-button span:nth-of-type(3) {
	top: calc(.25rem * 4);
}

.menu-button:hover {
	border-radius: 0;
}

.menu-button.active {
	position: fixed;
}

.menu-button.active span:nth-of-type(1) {
	transform: translateY(.5rem) rotate(-45deg);
}

.menu-button.active span:nth-of-type(2) {
	transform: translateX(1.5rem);
	opacity: 0;
}

.menu-button.active span:nth-of-type(3) {
	transform: translateY(-.5rem) rotate(45deg);
}

.menu-overlay {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-04-large.png);
	background-position: 2rem 2rem;
	background-size: contain;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	text-align: left;
	transform: translateX(100%);
	transition: all .6s ease-in-out;
	width: 100%;
}

.menu-overlay.open {
	transform: translateX(0);
	z-index: 1000;
}

.menu-overlay.open .nav {
	animation: fadeIn .8s ease-in-out .2s forwards;
}

.menu-link-placeholder .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav__items {
	display: flex;
	flex-direction: column;
}

.nav__items:not(:first-child) {
	margin-top: 4rem;
}

.nav__category {
	text-transform: uppercase;
	font-size: .75rem;
	letter-spacing: .125em;
	opacity: .5;
}

.nav__item {
	color: white;
	margin-top: 1rem;
	text-decoration: none;
	position: relative;
	transition: all .2s ease-in-out;
}

.nav__item::before {
	content: "";
	height: 1px;
	width: 0;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transition: all .2s ease-in-out;
}

.nav__item:hover {
	padding-left: calc(2rem + 1rem);
}

.nav__item:hover::before {
	width: 2rem;
}

.menu-link-placeholder {
	width: 6rem;
}

.menu-link {
	bottom: 1rem;
	color: #6e0e50;
	font-weight: 700;
	left: -3rem;
	text-decoration: none;
}

#main-nav-search>.input-group .btn {
	position: inherit;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: #940e5c;
}
