body {
	background-image: none;
	background-color: #212529;
	color: #fff;
}

a {
	color: #e2f1fc;
}

#default-footer {
	background-image: none;
}

#top-border-decoration {
	background-color: #4c5155;
}

.form-control,
.form-control:focus,
.form-select {
	color: #fff;
	background-color: #343a40;
}

.form-check-input:focus,
.form-control:focus,
.form-select:focus {
	border-color: #66afe9;
}

hr {
	background-color: #dee2e6;
}

kbd {
	color: #212529;
	background-color: #fff;
}

caption {
	color: #adb5bd;
}

.form-control::placeholder {
	color: #adb5bd;
}

.btn,
.btn:hover,
.dropdown-item {
	color: #fff;
}

.form-control:disabled,
.form-control[readonly],
.form-select:disabled {
	background-color: #4c5155;
}

.form-control::file-selector-button {
	color: #fff;
	background-color: #4c5155;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
	background-color: #5a6268;
}

.form-control::-webkit-file-upload-button {
	color: #fff;
	background-color: #4c5155;
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
	background-color: #5a6268;
}

#default-footer,
#default-header,
#floating-search-input,
#knowledge-support-search-input,
#search-results-row .card,
#services-row .card,
#target-audience-row .card,
.accordion-menu-wrapper,
.card,
.form-check-input,
.news-section .card {
	background-color: #343a40;
}

#floating-search-input:hover,
#knowledge-support-search-input:hover {
	background-color: #5a6268;
}

.form-control.is-valid,
.was-validated .form-control:valid {
	border-color: #28a745;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
	border-color: #28a745;
}

/* use white logo on dark backgrounds */
.navbar-brand img {
	filter: invert(100%) brightness(200%);
}

/* ... similar adjustments for other form validation styles */

.cookiealert,
.btn-primary,
a.btn-primary:visited {
	color: #fff !important;
	border-color: #dcc4d4;
	background-color: #5a6268 !important;
}

.btn-primary:hover {
	border-color: #0069d9;
	background-color: #0069d9 !important;
}

.btn-close,
.btn-secondary {
	color: #e9ecef;
	background-color: #494e53;
}

.btn-close:hover,
.btn-secondary:hover {
 	color: #fff !important;
 	background-color: #5a6268 !important;
 }

/* ... similar adjustments for other button styles */

.dropdown-item:focus,
.dropdown-item:hover {
	color: #212529 !important;
	background-color: #e9ecef;
}

.dropdown-menu-dark .dropdown-item {
	color: #adb5bd;
}

.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu-dark .dropdown-item:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, .15);
}

/* ... similar adjustments for other dropdown styles */

.nav-link:focus,
.nav-link:hover {
	color: #e2f1fc;
}

/* ... similar adjustments for other navigation styles */

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active {
	color: #adb5bd;
}

/* ... similar adjustments for other breadcrumb styles */

.list-group-item-primary.list-group-item-action.active {
	color: #fff;
	background-color: #0062cc;
	border-color: #0062cc;
}

/* ... similar adjustments for other list group item styles */

a:hover,
.navbar-light .navbar-nav .nav-link:hover,
#knowledge-support-search-wrapper label>.material-icons,
#main-nav-search label>.material-icons,
.panel>button,
#main-nav-search .form-floating>label,
code {
	color: #dcc4d4 !important;
}

a:hover,
#main-nav-search #search-button-addon {
	background-color: #494e53;
	color: #e9ecef;
}

#main-nav-search #search-button-addon:hover {
	background-color: #5a6268 !important;
	color: #fff;
}

/* ... similar adjustments for other link styles */

.card-link.active,
.form-check-input:focus,
.accordion-menu-wrapper {
	background-color: #4c5155 !important;
}

.form-check-input:checked:focus {
	background-color: #dcc4d4;
}

a[hreflang]::after {
	color: #ced4d8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}

li::marker {
	color: #dcc4d4;
}

#default-nav-tabs .nav-link.active {
	background-color: #4c5155;
	color: #fff;
}

.nav-link,
.nav-link:focus,
.nav-tabs .nav-link,
.navbar-light .navbar-nav .nav-link,
.round-button.btn-secondary>.material-icons {
	color: #dcc4d4;
}

/* ... similar adjustments for other navigation and button styles */

.page-item.active .page-link {
	color: #fff;
	background-color: #dcc4d4;
	border-color: #dcc4d4;
}

/* ... similar adjustments for other pagination styles */

.dropdown-item.active,
.dropdown-item:active {
	color: #212529;
	background-color: #dcc4d4;
}

.dropdown-menu {
	background-color: #343a40;
	color: #fff;
}

/* ... similar adjustments for other button styles */

.cookiealert {
	transition: none;
}
