.accordion-menu--hidden {
	display: none;
}

.accordion-menu__list,
.accordion-menu__sublist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.accordion-menu__list {
	border-top: 1px solid #440742;
}

.accordion-menu__link {
	align-items: center;
	border-bottom: 1px solid #440742;
	display: flex;
	justify-content: space-between;
	padding: .5rem 0;
}

.accordion-menu__link,
.accordion-menu__sublink {
	text-decoration: none;
}

.accordion-menu__link:hover,
.accordion-menu__sublink:hover,
.accordion-menu__link:focus,
.accordion-menu__sublink:focus {
	border-radius: 0;
	outline: none;
}

.accordion-menu__icon {
	height: 1rem;
	position: relative;
	transition: .2s all;
	width: 1rem;
}

.accordion-menu__icon:before,
.accordion-menu__icon:after {
	background-color: #6c105a;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	top: 50%;
	transition: .35s;
	width: 100%;
}

.accordion-menu__icon:before {
	transform: translateY(-50%);
}

.accordion-menu__icon:after {
	transform: translateY(-50%) rotate(90deg);
}

.accordion-menu--active .accordion-menu__icon:before {
	transform: translateY(-50%) rotate(-90deg);
	opacity: 0;
}

.accordion-menu--active .accordion-menu__icon:after {
	transform: translateY(-50%) rotate(0);
}

.accordion-menu__sublist {
	margin-left: 1.25rem;
}

.accordion-menu__sublink {
	border-bottom: 1px dotted #440742;
	display: block;
	padding: .5rem 0;
}

.accordion-menu-nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow: scroll;
	padding-bottom: 1rem;
}

.accordion-menu-nav__link:not(:last-child) {
	margin-right: 1rem;
}

.accordion-menu-wrapper {
	display: none;
}

.accordion-menu-wrapper.active {
	display: block;
}

.mega-menu-panel {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-04-large.png);
	background-position: 2rem 2rem;
	background-size: contain;
}

.nav-item.dropdown.dropdown-mega {
	position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
	padding: 3rem;
}
