.post-it {
	font-size: 1.25em;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	z-index: 1000;
}

.post-it .inner {
	border: 1px solid #6c105a;
	padding: 2em;
	/* min-height: 100px; */
	background: #ffe3ff;
	transform: perspective(75em) rotateX(18deg);
	box-shadow: rgba(22, 31, 39, .42) 0px 60px 123px -25px,
		rgba(19, 26, 32, .08) 0px 35px 75px -35px;
	border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
	position: relative;
	z-index: 1000;
}

.post-it .inner>a {
	color: #440742;
}

#prototype-message-placeholder {
	/*dim the background*/
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: .8em;
	height: 100%;
	overflow: hidden;
	position: fixed;
	/* pointer-events: none; */
	left: 0;
	line-height: 1.25;
	top: 0;
	width: 100%;
	z-index: 1025;
}

.pushpin {
	background: url(../../images/prototyping/pin-2033400.png) no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	width: 3em;
	height: 3em;
	margin: -1em auto;
}
