@media (max-width:575px) {
	.border-top {
		border-top: 1px solid #dee2e6 !important
	}

	.border-left {
		border-left: 1px solid #dee2e6 !important
	}

	.border-bottom {
		border-bottom: 1px solid #dee2e6 !important
	}

	.border-right {
		border-right: 1px solid #dee2e6 !important
	}

	.border-0-top {
		border-top: none !important
	}

	.border-0-left {
		border-left: none !important
	}

	.border-0-bottom {
		border-bottom: none !important
	}

	.border-0-right {
		border-right: none !important
	}
}

@media (min-width:576px) {
	.border-top-sm {
		border-top: 1px solid #dee2e6 !important
	}

	.border-left-sm {
		border-left: 1px solid #dee2e6 !important
	}

	.border-bottom-sm {
		border-bottom: 1px solid #dee2e6 !important
	}

	.border-right-sm {
		border-right: 1px solid #dee2e6 !important
	}

	.border-sm-top-0 {
		border-top: none !important
	}

	.border-sm-left-0 {
		border-left: none !important
	}

	.border-sm-bottom-0 {
		border-bottom: none !important
	}

	.border-sm-right-0 {
		border-right: none !important
	}
}

@media (min-width:768px) {
	.border-top-md {
		border-top: 1px solid #dee2e6 !important
	}

	.border-left-md {
		border-left: 1px solid #dee2e6 !important
	}

	.border-bottom-md {
		border-bottom: 1px solid #dee2e6 !important
	}

	.border-right-md {
		border-right: 1px solid #dee2e6 !important
	}

	.border-md-top-0 {
		border-top: none !important
	}

	.border-md-left-0 {
		border-left: none !important
	}

	.border-md-bottom-0 {
		border-bottom: none !important
	}

	.border-md-right-0 {
		border-right: none !important
	}
}

@media (min-width:992px) {
	.border-top-lg {
		border-top: 1px solid #dee2e6 !important
	}

	.border-left-lg {
		border-left: 1px solid #dee2e6 !important
	}

	.border-bottom-lg {
		border-bottom: 1px solid #dee2e6 !important
	}

	.border-right-lg {
		border-right: 1px solid #dee2e6 !important
	}

	.border-lg-top-0 {
		border-top: none !important
	}

	.border-lg-left-0 {
		border-left: none !important
	}

	.border-lg-bottom-0 {
		border-bottom: none !important
	}

	.border-lg-right-0 {
		border-right: none !important
	}
}

@media (min-width:1200px) {
	.border-top-xl {
		border-top: 1px solid #dee2e6 !important
	}

	.border-left-xl {
		border-left: 1px solid #dee2e6 !important
	}

	.border-bottom-xl {
		border-bottom: 1px solid #dee2e6 !important
	}

	.border-right-xl {
		border-right: 1px solid #dee2e6 !important
	}

	.border-xl-top-0 {
		border-top: none !important
	}

	.border-xl-left-0 {
		border-left: none !important
	}

	.border-xl-bottom-0 {
		border-bottom: none !important
	}

	.border-xl-right-0 {
		border-right: none !important
	}
}
