.accordion-menu--hidden {
	display: none
}

.no-js .accordion-menu--hidden {
	display: block
}

.accordion-menu ul,
.accordion-menu__sublist {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.accordion-menu a {
	border-bottom: 1px dotted #940e5c;
	display: block;
	font-weight: 400;
	padding: .5rem 0 .5rem 1.5rem
}

.accordion-menu a[data-accordion-menu] {
	align-items: center;
	/* border-bottom: 1px solid #940e5c; */
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	padding: .5rem;
	width: 100%
}

.accordion-menu a,
.accordion-menu a[data-accordion-menu] {
	text-decoration: none
}

.accordion-menu a+ul.accordion-menu__sublist {
	border: none
}

.accordion-menu a:focus,
.accordion-menu a:hover,
.accordion-menu a[data-accordion-menu]:focus,
.accordion-menu a[data-accordion-menu]:hover {
	color: #212121;
	background: rgb(255, 248, 235, .75);
	border-radius: 0;
	outline: 0
}

.accordion-menu__icon {
	height: 0;
	position: relative;
	transition: .2s all;
	width: 1rem
}

.accordion-menu__icon::after,
.accordion-menu__icon::before {
	position: absolute;
	transition: .35s;
}

.accordion-menu__icon::before {
	height: 1.5rem;
	background-size: cover;
	content: '';
	display: block;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" fill="%23940e5c"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>');
	top: -1rem;
	width: 2rem;
}

.accordion-menu--active .accordion-menu__icon::before {
	height: 1.5rem;
	top: .15rem;
	transform: translateY(-50%) rotate(-180deg);
}

.accordion-menu--active .accordion-menu__icon::after {
	height: -1rem;
	transform: translateY(-50%) rotate(0)
}

.accordion-menu__sublist {
	margin-left: 1.25rem
}

.accordion-menu-nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow: scroll;
	padding-bottom: 1rem
}

.accordion-menu-nav__link:not(:last-child) {
	margin-right: 1rem
}

.accordion-menu-wrapper {
	display: none
}

.accordion-menu-wrapper.active {
	display: block
}

.mega-menu-panel {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-04-large-bright.png);
	background-position: 2rem 2rem;
	background-size: auto;
	box-shadow: 0 10rem 10rem rgb(33, 33, 33, .1) !important;
	left: 0;
	width: 100%
}

.mega-menu-panel.page-width {
	left: 0 !important
}

.nav-item.dropdown.dropdown-mega {
	position: static
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {
	.accordion-menu ul {
		border-top: 1px solid #940e5c
	}

	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		padding: 1rem
	}
}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {
	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		padding: 3rem
	}

	.mega-menu-panel.page-width {
		left: calc(50vw - (100vw - 590px)) !important;
		width: calc(100vw - 8px)
	}
}
