body {
	background-color: #fafafa;
	background-image: url(../../images/bg/water-color-bg-02.svg);
	background-size: contain;
	color: #212529;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #983579;
	text-decoration: underline;
}

a:hover {
	color: #6e0e4f;
	text-decoration: none;
}

a:focus {
	outline: 1px solid #983579;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6e0e4f;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

.navbar-brand,
.nav-link {
	border-radius: 3rem;
}

.navbar-brand>img {
	width: calc(100vw - 9rem);
}

.navbar-brand:focus {
	padding: .5rem;
	margin: -.2rem .5rem -.2rem -.5rem;
}

.bg-primary {
	background-color: #983579 !important;
}

.btn-primary {
	color: #fff;
	background-color: #983579 !important;
	border-color: #6e0e4f;
}

.btn-primary:hover {
	background-color: #6e0e4f !important;
}

.border-primary {
	border-color: #6e0e4f !important;
}

.dropdown-large {
	padding: 1rem;
}

.btn-close:focus,
.btn-check:focus+.btn-primary,
.btn-primary:focus,
.form-control:focus,
.form-select:focus {
	border-color: #983579 !important;
	box-shadow: inset 0 0 .25rem rgb(152 53 121 / 25%);
}

.form-check-input:checked {
	background-color: #983579;
	border-color: #6e0e4f;
	box-shadow: 0 0 0 0.25rem rgb(152 53 121 / 50%);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #983579;
	border-color: #6e0e4f;
	box-shadow: 0 0 0 0.25rem rgb(152 53 121 / 50%);
}

.figure-caption {
	margin: -.75em 0;
}

#main-container {
	background-color: transparent;
}

.target-audience-row figure {
	min-height: 14rem;
	padding-top: 2rem !important;
}

.services-row figure {
	min-height: 7rem;
	padding-top: 1rem !important;
}

.target-audience-row>div>a,
.services-row>div>a {
	border-radius: .3rem;
}

.social-links>a:hover {
	color: #212529;
}

.foot-links>li::before {
	content: '»';
	padding-right: .5em;
	color: #983579;
}

#main-nav-search>label>span.bi-search {
	color: #983579;
	padding: 0 .25em 0 .5em;
	opacity: .8;
	width: 1em;
}

#search-button-addon {
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
	height: inherit;
	padding: 1rem;
}

/* #floating-search-input:focus {
	box-shadow: inset 0 0 .25rem rgb(152 53 121 / 25%);
	background-color: transparent;
} */

/* #floating-search-input:focus ~ #search-button-addon {
	opacity: 1;
} */

/* Viewport breakpoints */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {
	.navbar-brand>img {
		width: inherit;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {}

/* Large devices (desktops, 992px and up) - lg */
@media (min-width:992px) {

	.expandable:focus-within {
		width: calc(992px - 30rem);
		transition: all .3s;
	}

	.dropdown-large {
		min-width: 500px;
	}

	.foot-links>li {
		/* line-height: 2; */
		margin: auto auto .5em -1em;
	}

	/* Adaptable font-size, needs more work for larger screens
	.target-audience-row h4,
	.services-row h4 {
		font-size: calc((100vw - 5rem) / 50)
	} */

	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large.svg) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) - xxl */
@media (min-width:1400px) {

	.default-full-width.container {
		max-width: 1180px;
		/* Main content width */
	}

	#main-nav-search.form-floating>.form-control:focus~label,
	#main-nav-search.form-floating>.form-control:not(:placeholder-shown)~label {
		transform: scale(.85) translateY(-.5rem) translateX(2rem);
	}

}

/* Landscape phones and portrait tablets - xs */
@media(max-width:575.98px) {
	/* Redundant. This is the default = no media queries.*/
}
