body {
	background-color: #f8f9fa;
	background-image: url(../../images/bg/water-color-bg-02.svg);
	background-size: contain;
	color: #212529;
	font-family: "Public Sans",
		system-ui,
		-apple-system,
		"Segoe UI",
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		"Liberation Sans",
		sans-serif;
}

a {
	color: #983579;
	text-decoration: underline;
}

a:hover {
	color: #6E0E4F;
	text-decoration: none;
}

a:focus {
	outline: 1px solid #983579;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6e0e4f;
	font-weight: 700;
}

h1,
.h1 {
	font-size: 2.4rem;
}

h2,
.h2 {
	font-size: 2rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.1rem;
}

.navbar-brand,
.nav-link {
	border-radius: 3rem;
}

.navbar-brand:focus {
	padding: .5rem;
	margin: -.2rem .5rem -.2rem -.5rem;
}

.bg-primary {
	background-color: #983579 !important;
}

.btn-primary {
	color: #fff;
	background-color: #983579 !important;
	border-color: #6e0e4f;
}

.btn-primary:hover {
	background-color: #6e0e4f !important;
}

.border-primary {
	border-color: #6e0e4f !important;
}

.accordion-button:focus {
	border-color: #983579 !important;
	box-shadow: 0 0 0 0.25rem rgb(152 53 121 / 25%);
}

.accordion-button:not(.collapsed) {
	background-color: #fff8eb;
	color: #6e0e4f;
	font-weight: 700;
}

.dropdown-large {
	padding: 1rem;
}

.form-control:focus {
	border-color: #983579 !important;
	box-shadow: 0 0 0 .25rem rgb(152 53 121 / 25%);
}

.expandable {
	width: inherit;
	/* transition-timing-function: linear; */
}

.expandable:focus {
	width: calc(100vw - 50rem);
}

/*
https: //codepen.io/sosuke/pen/Pjoqqp
.social-links svg {
	fill: #6e0e4f;
}
*/

/* .social-links {
	filter: invert(6%) sepia(82%) saturate(6489%) hue-rotate(312deg) brightness(83%) contrast(90%);
} */

#main-container {
	background-color: transparent;
}

.target-audience-row figure {
	min-height: 14rem;
	padding-top: 2rem !important;
}

.services-row figure {
	min-height: 7rem;
	padding-top: 1rem !important;
}

.target-audience-row>div>a,
.services-row>div>a {
	border-radius: .3rem;
}

.social-links>a:hover {
	color: #212529;
}

.foot-links>li::before {
	content: '»';
	padding-right: .5em;
	color: #983579;
}

#search-button-addon>span:nth-child(2) {
	display: none;
}

#main-nav-search>.input-group>.input-group-prepend {
	position: absolute;
	z-index: 4;
}

#main-nav-search>.input-group>.form-control:focus {
	opacity: 1;
}

#main-nav-search>.input-group>.form-control {
	padding-left: 2.25em;
	opacity: .5;
}

.bi-search {
	color: #983579;
	padding: 0 0 .25em;
	opacity: .8;
	width: 1em;
}

/*
 * Bootstrap Cookie Alert by Wruczek
 * https://github.com/Wruczek/Bootstrap-Cookie-Alert
 * Released under MIT license
 */
.cookiealert {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	transform: translateY(100%);
	transition: all 500ms ease-out;
	color: #212529;
	background: #fff8eb;
}

.cookiealert.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 1000ms;
}

.cookiealert a {
	text-decoration: underline
}

.cookiealert .acceptcookies {
	margin-left: 2em;
	vertical-align: baseline;
}

.acceptcookies.close-icon>span {
	color: #983579;
}

.cookiealert {
	background: #fff8eb;
}

/* Viewports */

/* Landscape phones and portrait tablets - xs */
@media(max-width:575px) {
	.navbar-brand>img {
		width: calc(100vw - 9rem);
	}
}

/* Landscape phones and portrait tablets - sm */
@media(min-width:576px) {
	.navbar-brand>img {
		width: inherit;
	}
}

/* Portrait tablets and small desktops - md */
@media(min-width:768px) {}

/* Landscape tablets and medium desktops - lg */
@media(min-width:992px) {
	.dropdown-large {
		min-width: 500px;
	}

	.foot-links>li {
		/* line-height: 2; */
		margin: auto auto .5em -1em;
	}

	/* Adaptable font-size, needs more work for larger screens
	.target-audience-row h4,
	.services-row h4 {
		font-size: calc((100vw - 5rem) / 50)
	} */
	#attach-bg-03 {
		background: url(../../images/bg/water-color-bg-03.png) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#attach-bg-04 {
		background: url(../../images/bg/water-color-bg-04-large.svg) 0 15em;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* Large desktops and laptops - xl */
@media(min-width:1200px) {}

/* Larger desktops - xxl */
@media(min-width:1400px) {}
