.acc-header {
	align-items: center;
	background: 0 0;
	border: none;
	border-top: 1px solid #e0e0e0;
	display: flex;
	cursor: pointer;
	font-weight: 700;
	justify-content: space-between;
	padding: .5rem 1rem;
	width: 100%;
	transition: background-color .2s ease-out
}

.acc-header:hover {
	color: #595959;
	background: rgb(255, 248, 235, .75);
	border-radius: 0;
	outline: 0
}

.acc-header-icon {
	height: 0;
	position: relative;
	transition: .2s all;
	width: 1rem
}

.acc-header-icon::after,
.acc-header-icon::before {
	position: absolute;
	transition: .35s
}

.acc-header-icon::before {
	height: 1.5rem;
	background-size: cover;
	content: '';
	display: block;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" fill="%23940e5c"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>');
	top: -1rem;
	width: 2rem
}

.panel>button {
	color: #940e5c;
	text-align: left
}

.panel.active .acc-header-icon::before {
	height: 1.5rem;
	top: .15rem;
	transform: translateY(-50%) rotate(-180deg)
}

.panel.active .acc-header-icon::after {
	height: -1rem;
	transform: translateY(-50%) rotate(0)
}

.accordion-menu-wrapper {
	background-color: #fff;
	/* background-image: url(../../images/bg/water-color-bg-04-large-bright.png);
	background-position: 2rem 2rem;
	background-size: auto; */
	box-shadow: 0 10rem 10rem rgb(33, 33, 33, .1) !important;
	left: 0;
	width: 100%
}

.accordion-menu-wrapper.page-width {
	left: 0 !important
}

.acc-body {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	-webkit-transition: height .2s ease-out, opacity .2s ease-out;
	-o-transition: height .2s ease-out, opacity .2s ease-out;
	transition: height .2s ease-out, opacity .2s ease-out
}

.no-js .acc-body,
.panel.active .acc-body {
	opacity: 1;
	height: auto;
	visibility: visible
}

.acc-body li,
.acc-body ul,
.accordion ul,
li.panel {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.acc-body a {
	border-bottom: 1px dotted #e0e0e0;
	display: block;
	font-weight: 400;
	padding: .5rem 0 .5rem 1rem;
	text-decoration: none
}

.acc-body a:first-child {
	border-top: 1px dotted #e0e0e0
}

.nav-item.dropdown.dropdown-mega {
	position: static;
	max-height: 2.6rem
}

/* Small devices (landscape phones, 576px and up) - sm */
@media (min-width:576px) {

	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		padding: 1rem
	}
}

/* X-Large devices (large desktops, 1200px and up) - xl */
@media (min-width:1200px) {
	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		padding: 3rem
	}

	.panel.page-width {
		left: calc(50vw - (100vw - 590px)) !important;
		width: calc(100vw - 8px)
	}
}
